#console{
    position: absolute;
    width: 508px;
    height: 568px;
	background-image: url("coui://gfx/ui/skin/dialog_panel_01.png");
	z-index: 10001 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    transition: 0.5s;
}

#logWrapper{
    width: 90%;
    height: calc(90% - 40px);
}

.message{
    color: white;
	font-family: monospace, arial;
	font-size: 20;
    word-wrap: break-word;
}

.invisible{
    transform: translateX(-600px);
}

#cmdInput{
    width: 90%;
	height: 40px;
    padding-left: 0.6rem;
	position: relative;

	background-color: rgba(0, 0, 0, 0);
	border: none;

    background-image: url("coui://gfx/ui/skin/text_input_300x40_default.png");
    background-size: 100% 40px;
    background-repeat: no-repeat;

    outline: none;

	text-shadow: 1px 1px 1px #000;

    -moz-user-select: -moz-text;
    -webkit-user-select: text;
    user-select: text;
}

#cmdInput:hover,
#cmdInput:focus
{
    /*border-color: rgb(129, 50, 24);*/
    background-image: url("coui://gfx/ui/skin/text_input_300x40_selected.png");
    background-size: 100% 40px;
    background-repeat: no-repeat;
}

#uniqueInfo{
    position: absolute;
    background-color: white;
	z-index: 10002 !important;
    font-size: 20px;
    transform: translateY(-100%);
}